<%= bootstrap_form_for(@user) do |f| %>
  
  <%= f.text_field :email, label: 'Correo electrónico (será el usuario de tu cuenta)' %>
  <%= f.password_field :password, label: 'Contraseña' %>
  <div>
    <button>Conectar cuenta con Facebook</button>
  </div>
  <%= f.submit 'Crear cuenta', class: 'btn btn-info' %>

<% end %>
